<div class="container-fluid">
  <h3><%= @article.title %></h3>
  <div class="alert alert-warning" role="alert"><%= @article.content %>
  </div>

  <%= link_to edit_article_path do %>
    <i class="fa fa-pencil"></i> Edit
  <% end %>
  <br>

  <%= link_to article_path, method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="fa fa-trash"></i> Delete
  <% end %>
  <br>

  <%= link_to articles_path do %>
    <i class="fa fa-arrow-left"></i> Back to list
  <% end %>
</div>






